name: ci

on:
- pull_request
- push

permissions:
  contents: read

jobs:
  test:
    permissions:
      checks: write  # for coverallsapp/github-action to create new checks
      contents: read  # for actions/checkout to fetch code
    runs-on: ubuntu-latest
    strategy:
      matrix:
        name:
        - Node.js 10.x
        - Node.js 11.x
        - Node.js 12.x
        - Node.js 13.x
        - Node.js 14.x
        - Node.js 15.x
        - Node.js 16.x
        - Node.js 17.x
        - Node.js 18.x
        - Node.js 19.x
        - Node.js 20.x
        - Node.js 21.x
        - Node.js 22.x
        - Node.js 23.x
        - Node.js 24.x
        
        include:
        - name: Node.js 10.x
          node-version: "10.24"
          npm-i: mocha@8.4.0
          npm-rm: beautify-benchmark benchmark fast-url-parser

        - name: Node.js 11.x
          node-version: "11.15"
          npm-i: mocha@8.4.0
          npm-rm: beautify-benchmark benchmark fast-url-parser

        - name: Node.js 12.x
          node-version: "12.22"
          npm-i: mocha@9.2.2
          npm-rm: beautify-benchmark benchmark fast-url-parser

        - name: Node.js 13.x
          node-version: "13.14"
          npm-i: mocha@9.2.2
          npm-rm: beautify-benchmark benchmark fast-url-parser

        - name: Node.js 14.x
          node-version: "14.21"
          npm-rm: beautify-benchmark benchmark fast-url-parser

        - name: Node.js 15.x
          node-version: "15.14"
          npm-rm: beautify-benchmark benchmark fast-url-parser

        - name: Node.js 16.x
          node-version: "16.20"
          npm-rm: beautify-benchmark benchmark fast-url-parser

        - name: Node.js 17.x
          node-version: "17.9"
          npm-rm: beautify-benchmark benchmark fast-url-parser

        - name: Node.js 18.x
          node-version: "18.20"
          npm-rm: beautify-benchmark benchmark fast-url-parser

        - name: Node.js 19.x
          node-version: "19.9"

        - name: Node.js 20.x
          node-version: "20.18"

        - name: Node.js 21.x
          node-version: "21.7"

        - name: Node.js 22.x
          node-version: "22.11"

        - name: Node.js 23.x
          node-version: "23.3"

        - name: Node.js 24.x
          node-version: "24"
          
    steps:
    - uses: actions/checkout@v6

    - name: Install Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Configure npm
      run: |
        if [[ "$(npm config get package-lock)" == "true" ]]; then
          npm config set package-lock false
        else
          npm config set shrinkwrap false
        fi

    - name: Remove npm module(s) ${{ matrix.npm-rm }}
      run: npm rm --silent --save-dev ${{ matrix.npm-rm }}
      if: matrix.npm-rm != ''

    - name: Install npm module(s) ${{ matrix.npm-i }}
      run: npm install --save-dev ${{ matrix.npm-i }}
      if: matrix.npm-i != ''

    - name: Setup Node.js version-specific dependencies
      shell: bash
      run: |
        # eslint for linting
        # - remove on Node.js < 12
        if [[ "$(cut -d. -f1 <<< "${{ matrix.node-version }}")" -lt 12 ]]; then
          node -pe 'Object.keys(require("./package").devDependencies).join("\n")' | \
            grep -E '^eslint(-|$)' | \
            sort -r | \
            xargs -n1 npm rm --silent --save-dev
        fi

    - name: Install Node.js dependencies
      run: npm install

    - name: List environment
      id: list_env
      shell: bash
      run: |
        echo "node@$(node -v)"
        echo "npm@$(npm -v)"
        npm -s ls ||:
        (npm -s ls --depth=0 ||:) | awk -F'[ @]' 'NR>1 && $2 { print $2 "=" $3 }' >> "$GITHUB_OUTPUT"

    - name: Run tests
      shell: bash
      run: |
        if npm -ps ls nyc | grep -q nyc; then
          npm run test-ci
        else
          npm test
        fi

    - name: Lint code
      if: steps.list_env.outputs.eslint != ''
      run: npm run lint

    - name: Collect code coverage
      uses: coverallsapp/github-action@v2
      if: steps.list_env.outputs.nyc != ''
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        flag-name: run-${{ matrix.name }}
        parallel: true

  coverage:
    permissions:
      checks: write  # for coverallsapp/github-action to create new checks
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Upload code coverage
      uses: coverallsapp/github-action@v2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        parallel-finished: true
